.container{
    border: 2px solid black;
}

.h1-layout{
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.borda{
    border: 2px solid black;
}

.container2{
    margin: 100px;
    height: 100px;
    background-color:dimgrey

}

.container{
    background-color: dimgrey;
    margin: 10px;
    display: block;

}

.caixa{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}
